.currency-select {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.currency-select-zone {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    height: 100%;
    overflow-y: scroll;
    padding-top: 40px;
    @media (min-width: 744px) {
        padding: 40px;
    }
}

.currency-out {
    position: absolute;
    inset: 0;
}

.currency-select-bg {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    @media (min-width: 744px) {
        overflow: auto;
    }
}

.currency-cancel-icon-zone {
    padding: 0 24px;
    padding-bottom: 10px;
}

.currency-line {
    border-color: rgb(235, 235, 235);
}

.currency-cancel-icon {
    font-size: 36px;
    cursor: pointer;
}

.currency-scroll-zone {
    overflow-y: scroll !important;
    height: 100%;
    padding-bottom: 60px;
}

.currency-select-title {
    font-size: 24px;
    padding: 0 24px;
    margin-top: 24px;
    margin-bottom: 10px;
}

.currency-buttons-zone {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: -8px;
    padding: 24px;
}

.currency-change {
    color: #464444;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 9px 12px;
    &:active {
        border-radius: 5px;
        box-shadow: 0 0 0 2px #918d8d;
    }
    &:hover {
        background: rgba(165, 161, 161, 0.1);
    }
}

.currency-button {
    display: inline-block;
    flex-basis: 50%;
    padding: 8px;
    @media (min-width: 744px) {
        flex-basis: 33.333%;
    }
    @media (min-width: 900px) {
        flex-basis: 25%;
    }
    @media (min-width: 1128px) {
        flex-basis: 20%;
    }
}

.currency-area {
    color: #c5c2c2;
}