* {
    box-sizing: border-box;
    margin: 0;
}

@import "mixins";

body {
    font-family: "Circular", "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", "sans-serif";
}

input {
    outline: none;
}

.business-prg {
    a:hover {
        text-decoration: underline;
    }

    button:focus { 
        outline:0; 
    }

    // body1
    .body1 {
        color: #ffffff;
        margin-bottom: 271px;
        @media #{$tablet} {
            margin-bottom: 101px;
        }
        a {
            @include a(#ffffff);
        }
    }
    .body1-link-video-button  {
        color: #ffffff;
        display: inline;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        .right-triangle {
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #ffffff;
            display: inline-flex;
            height: 14px;
            margin: 4px 0 0 12px;
        }
    }

    .body1-bg {
        height: 540px;
        position: relative;
        @media #{$tablet} {
            height: 636px;
        }
        @media #{$pc} {
            height: 860px;
        }
    }

    .body1-bg-img {
        width: 100%;
        height: 100%;
        position: relative;
        @media #{$smartphone} {
            background: url(../img/business-prg-header.png);
            background-size: cover;
        }
    }

    #body1-bg-video {
        @media #{$smartphone} {
            display: none;
        }
        @media #{$tablet} {
            background: url(../img/business-prg-header.png);
            object-fit: cover;
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
    }

    .body1-bg-cover {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .body1-text-zone {
        position: absolute;
        bottom: 40px;
        left: 40px;
        h1 {
            font-size: 32px;
            padding-bottom: 20px;
            margin-right: 60px;
        }
        @media #{$tablet} {
            font-weight: 550;
            top: 160px;
            left: 70px;
            h1 {
                font-size: 46px;
                line-height: 1.15em;
                width: 550px;
            }
        }
        @media #{$pc} {
            top: 280px;
            left: 180px;
        }
    }

    .body1-tablet-position {
        @media #{$tablet} {
            position: absolute;
            top: 340px;
        }
        @media #{$pc} {
            top: 460px;
        }
    }
    // top-form
    .top-form {
        font-weight: 600;
        margin-top: 30px;
        margin-left: 40px;
        @media #{$tablet} {
            margin-top: 0;
            margin-left: 70px;
        }
        @media #{$pc} {
            margin-left: 180px;
        }
    }

    .top-email-label {
        cursor: pointer;
        display: block;
        margin-bottom: 10px;
        @media #{$smartphone} {
            color: #292727;
        }
    }

    .top-input-zone {
        border: 1px solid #EBEBEB;
        border-radius: 5px;
        width: 390px;
        padding: 10px 0 10px 8px;
        &:focus-within {
            box-shadow: 0 0 0 2px rgb(0, 132, 137);
        }
        @media #{$tablet} {
            background-color: #ffffff;
            border: none;
        }
    }

    #top-mail-address {
        border:none;
        font-size: 18px;
        width: 200px;
        padding-right: 10px;
        &:focus {
            outline: none;
        }
    }

    .top-input-button {
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-weight: 600;
        padding: 8px 12px;
        &:active {
            outline: 1px solid #000000;
            outline-offset: 3px;
            transition: 0.1s !important;
        }
    }

    #top-mail-address:placeholder-shown + .top-input-button {/*入力されてないとき*/
        background: rgba(0, 132, 137, 0.3);
        transition: 0.3s;
    }

    #top-mail-address:not(:placeholder-shown) + .top-input-button {/*入力されたとき*/
        background: #008489;
        cursor: pointer;
        transition: 0.3s;
    }

    .business-trip-management {
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 40px;
        @media #{$smartphone} {
            color: rgb(72, 72, 72);
        }
        @media #{$tablet} {
            margin-top: 20px;
            margin-left: 70px;
        }
        @media #{$pc} {
            margin-left: 180px;
        }
        a {
            @include a(#ffffff);
            @media #{$smartphone} {
                color:#008489;
            }
        }
        p {
            @media #{$tablet} {
                display: inline;
            }
        }
        .arrow {
            @include arrow(#008489 #008489 transparent transparent);
            @media #{$tablet} {
                border-color: #ffffff #ffffff transparent transparent !important;
            }
        }
    }

    // video-button
    .video-button-zone {
        position: absolute;
        right: 30px;
        bottom: 20px;
        transition: 0.2s;
        &:focus-within {
            border-radius: 3px;
            box-shadow: 0 0 0 6px #bbb5b5;
        }
        @media #{$smartphone} {
            display: none;
        }
    }

    #video-button {
        background: transparent;
        border: 2px solid #ffffff;
        border-radius: 3px;
        cursor: pointer;
        color: white;
        font-size: 16px !important;
        transition: 0.2s;
        padding: 10px 22px;
        &:focus {
            box-shadow: 0 0 0 5px #000000;
        }
    }

    .video-icon {
        margin-left: 10px;
    }

    .separate-border {
        @media #{$smartphone} {
            border-bottom: 1px solid #EBEBEB;
            margin: 0 20px;
        }
    }
}

.business-prg-main {
    // body2
    .body2 {
        text-align: center;
        overflow: auto !important;
        @media #{$tablet} {
            margin-bottom: 100px;
        }
        h2 {
            color: #484848;
            font-size: 24px;
            font-weight: 200;
            @media #{$tablet} {
                font-size: 32px;
            }
        }
    }

    .body2-art-zone {
        @media #{$tablet} {
            margin: 0 70px;
        }
    }

    .body2-art {
        color: #484848;
        text-align: center;
        margin-bottom: 30px;
        @media #{$tablet} {
            float: left;
            width: 33.33%;
            margin: 0;
        }

        article {
            height: 380px;
            margin: 20px;
            @media #{$tablet} {
                margin: 20px 10px;
                height: 333.33px;
            }
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        p {
            font-size: 18px;
            font-weight: 200;
            @media #{$tablet} {
                margin: 0 15px;
            }
        }
    }

    //body3
    .body3 {
        clear: both;
        section {
            @media #{$tablet} {
                margin-bottom: 50px;
            }
        }
    }

    .body3-tablet-margin {
        @media #{$tablet} {
            overflow: auto !important;
            margin: 15px;
        }
    }

    .body3-tablet-float {
        @media #{$tablet} {
            width: 58.3333%;
            height: 500px;
        }
    }

    .float-white {
        @media #{$tablet} {
            float: right;
            padding-left: 7.5px;
        }
    }

    .float-green {
        @media #{$tablet} {
            float: left;
            padding-right: 7.5px;
        }
    }

    .body3-back-white-text-zone {
        @include body3-text-zone(#ffffff, #484848);
        @media #{$tablet} {
            @include body3-text-zone-tablet(rgb(235, 235, 235));
        }
        h3 {
            @include body3-title;
            @media #{$tablet} {
                font-size: 32px;
            }
        }
        p {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 20px;
        }
        a {
            @include a(#008489);
            .arrow {
                @include arrow(#008489 #008489 transparent transparent)
            }
        }
    }

    .body3-text-tablet {
        @media #{$tablet} {
            margin: 0 12%;
        }
    }

    .body3-art-zone {
        height: 380px;
        @media #{$tablet} {
            height: 500px;
            width: 41.6667%;
        }
    }

    .art-left {
        @media #{$tablet} {
            float: left;
            padding-right: 7.5px;
        }
    }

    .art-right {
        @media #{$tablet} {
            float: right;
            padding-left: 7.5px;
        }
    }

    .body3-art {
        height: 100%;
        padding: 15px;
        padding-top: 0;
        @media #{$tablet} {
            padding: 0;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .back-white-after {
        @media #{$tablet} {
            height: 100%;
        }
    }

    .back-green-after {
        @media #{$tablet} {
            height: 100%;
        }
    }

    .body3-back-green-text-zone {
        @include body3-text-zone(rgb(0, 108, 112), #ffffff);
        @media #{$tablet} {
            @include body3-text-zone-tablet(rgb(0, 108, 112));
        }
        h3 {
            @include body3-title;
        }
        p {
            font-weight: 300;
            margin-bottom: 20px;
        }
        a {
            @include a(#ffffff);
            .arrow {
                @include arrow(#ffffff #ffffff transparent transparent);
            }
        }
    }

    // body4
    .body4-back-green {
        background: #006c70;
        color: #ffffff;
        padding: 0 24px;
        @media #{$tablet} {
            margin-bottom: 96px;
        }
            a {
            @include a(#ffffff);
            .arrow {
                @include arrow(#ffffff #ffffff transparent transparent);
            }
        }
    }

    .back-green-tablet {
        @media #{$tablet} {
            max-width: 636px;
            margin: auto;
            @media #{$pc} {
                max-width: 1080px;
                display: flex;
            }
        }
    }

    .body4-back-green-text {
        padding: 64px 0;
        max-width: 70%;
        margin: 0 auto;
        @media #{$pc} {
            width: 50%;
        }
        .size-pc {
            @media #{$pc} {
                max-width: 70%;
                margin: 0 auto;
            }
        }
        h3 {
            font-size: 24px;
            font-weight: 200;
            margin-bottom: 16px;
            @media #{$tablet} {
                font-size: 32px;
            }
        }
        p {
            font-size: 14px;
            font-weight: 200;
            margin-bottom: 16px;
            @media #{$tablet} {
                font-size: 18px;
            }
        }
    }

    .body4-separate-border {
        border: 0.6px solid #ffffff;
        @media #{$pc} {
            border: none;
        }
    }

    .body4-art-zone {
        margin-bottom: 15px;
        @media #{$tablet} {
            width: 80%;
            margin: auto;
        }
        article {
            height: 380px;
            padding: 15px;
            @media #{$tablet} {
                float: left;
                padding: 0;
                padding-right: 15px;
                height: 500px;
                width: 50%;
            }
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .body4-back-gray {
        background: #ebebeb;
        color: #484848;
        @media #{$tablet} {
            float: right;
            width: 50%;
        }
        .body4-back-gray-text {
            max-width: 60%;
            padding: 64px 0;
            margin: auto;
            @media #{$tablet} {
                display: table-cell;
                vertical-align: middle;
                height: 500px;
            }
            .back-gray-text-tablet {
                @media #{$tablet} {
                    width: 60%;
                    margin: auto;
                }
            }
            p {
                font-size: 14px;
                margin-bottom: 16px;
                @media #{$tablet} {
                    font-size: 18px;
                }
                @media #{$pc} {
                    font-size: 20px;
                    line-height: 2;
                }
            }
            .name {
                font-size: 16px;
                font-weight: 550;
                margin-bottom: 0;
            }
            .position {
                font-size: 16px;
            }
        }
    }
    // body4-bottom
    .body4-bottom-zone-tablet {
        @media #{$tablet} {
            clear: both;
        }
    }

    .body4-bottom-zone {
        background: #ebebeb;
        color: #484848;
        padding: 32px 24px;
        @media #{$tablet} {
            margin-top: 96px;
        }
        h3 {
            font-size: 24px;
            font-weight: 200;
            text-align: center;
            margin-bottom: 30px;
            @media #{$tablet} {
                font-size: 32px;
            }
        }
        label {
            cursor: pointer;
            display: block;
            font-weight: 550;
            padding-bottom: 10px;
        }
        .body4-form-zone {
            max-width: 450px;
            margin: auto;
            margin-bottom: 30px;
            .body4-input-zone {
                background: #ffffff;
                border-radius: 5px;
                width: 418px;
                @media #{$tablet} {
                    width: 450px;
                }
                &:focus-within {
                    box-shadow: 0 0 0 2px rgb(0, 132, 137);
                }
                input {
                    border: none;
                    border-radius: 5px;
                    font-size: 18px;
                    padding: 15px;
                    @media #{$tablet} {
                        width: 265px;
                    }
                }
                .body4-form-button {
                    border: none;
                    border-radius: 5px;
                    color: #ffffff;
                    font-size: 16px;
                    padding: 10px 5px;
                }
            }
        }
    }

    #body4-mail-address:placeholder-shown + .body4-form-button {/*入力されてないとき*/
        background: rgba(0, 132, 137, 0.3);
        transition: 0.3s;
    }

    #body4-mail-address:not(:placeholder-shown) + .body4-form-button {/*入力されたとき*/
        background: #008489;
        cursor: pointer;
        transition: 0.3s;
    }

    .body4-form-under-text {
        text-align: center;
        padding: 24px 0;
        p {
            color: #484848;
            font-weight: 550;
            margin-bottom: 10px;
        }
        .merit {
            font-weight: 200;
        }
        a {
            @include a(#008489);
            font-size: 14px;
            .arrow {
                @include arrow(#008489 #008489 transparent transparent);
                margin-top: 5px;
            }
        }
    }

    .body4-border-margin {
        border: 0.6px solid #aca8a8;
        width: 85%;
        margin: auto;
        @media #{$tablet} {
            border: none;
            max-width: 450px;
        }
        .body4-bottom-zone-berder {
            @media #{$tablet} {
                border: 0.6px solid #aca8a8;
                width: 450px;
            }
        }
    }
}