.body1-link-video {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.link-video-out {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.body1-link-video-zone {
    background: #ffffff;
    padding: 40px 30px;
    position: fixed;
    top: 80px;
    margin: 0 10%;
    z-index: 1000;
}

.cancel-icon {
    color: #a09d9d;
    cursor: pointer;
    font-size: 32px;
    margin-bottom: 10px;
}

.link-video {
    width: 100%;
}