footer {
    background: #F7F7F7;
    border-top: 1px solid #DDDDDD;
    padding: 25px 25px 20px 25px;
    @media #{$pc} {
        padding: 50px 80px;
    }
    .footer-ul-title {
        color: #444444;
        font-size: 12px;
        @media #{$tablet} {
            padding-left: 12px;
        }
        @media #{$pc} {
            padding: 0;
        }
    }
    .width-pc-footer {
        @media #{$pc} {
            display: flex;
            border-bottom: 1px solid #dddddd;
            margin-bottom: 20px;
        }
        .width-pc-container {
            @media #{$pc} {
                width: 25%;
            }
        }
    }
    .footer-ul {
        border-bottom: 1px solid #DDDDDD;
        list-style: none;
        padding: 0;
        padding-bottom: 24px;
        margin-bottom: 24px;
        @media #{$tablet} {
            display: flex;
            flex-wrap: wrap;
        }
        @media #{$pc} {
            border: none;
            display: block;
        }
    }
    .footer-li {
        margin-top: 12px;
        @media #{$tablet} {
            flex-basis: 33.3333333333%;
            padding: 0 12px;
        }
        @media #{$pc} {
            padding: 0;
            margin-top: 16px;
        }
    }
    .footer-a {
        color: #222222;
        cursor: pointer;
        font-size: 14px;
        text-decoration: none;
        line-height: 18px;
        &:hover {
            color: #555454;
        }
    }
}
// footer-bottom
.footer-bottom-width-pc {
    @media #{$pc} {
        align-items: stretch;
        display: flex;
        flex-direction: row-reverse;
        .left {
            margin-right: auto;
        }
    }
}
.footer-bottom {
    @media #{$tablet} {
        text-align: center;
    }
    @media #{$pc} {
        text-align: left;
    }
    .language-currency {
        margin-bottom: 15px;
        a {
            color: #444444;
            display: inline-block;
            font-size: 14px;
            font-weight: 550;
            text-decoration: underline !important;
            margin-right: 10px;
            &:hover {
                color: #706f6f;
            }
        }
        span {
            display: none;
            @media #{$tablet} {
                display: inline-block;
                margin-left: 40px;
            }
            a {
                color: #222222;
                margin: 0;
            }
            svg {
                display: none;
                @media #{$tablet} {
                    display: inline-block;
                    fill: currentColor;
                    width: 18px;
                    height: 18px;
                    margin-right: 24px;
                }
            }
        }
    }
    .developer {
        a {
            color: #222222;
            font-size: 14px;
            line-height: 18px;
            @media #{$pc} {
                display: block;
                width: 100%;
            }
        }
        span {
            @media #{$pc} {
                display: block;
                width: 100%;
            }
        }
    }
    .footer-bottom-pc-copyright-detailes {
        @media #{$pc} {
            overflow: hidden;
        }
    }
    .copyright {
        @media #{$pc} {
            display: inline-block;
        }
        p {
            color: #222222;
            font-size: 14px;
            line-height: 18px;
        }
    }
    .details {
        @media #{$pc} {
            display: inline
        }
        a {
            color: #222222;
            display: inline-block;
            font-size: 14px;
        }
        span {
            color: #222222;
            display: inline-block;
        }
    }
}