$pc:  "only screen and (min-width: 1128px)";
$tablet:  "only screen and (min-width:744px)";
$smartphone:  "only screen and (max-width:743px)";

@import "mixins";
@import "top-toggle";
@import "language-click";
@import "currency-click";
@import "index";
@import "index_link_movie";
@import "footer";

