.language-select {
  display: none;
  position: absolute;
  inset: 0;
  z-index: 1000; }

.language-select-zone {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  height: 100%;
  overflow-y: scroll;
  padding-top: 40px; }

.language-select-bg {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  padding: 0 24px 60px; }

.language-select-title {
  font-size: 24px;
  margin-bottom: 10px; }

.language-buttons-zone {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: -8px;
  padding: 24px 0; }

.language-chage {
  color: #464444;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 9px 12px; }

.language-button {
  display: inline-block;
  flex-basis: 50%;
  padding: 8px; }

.language-area {
  color: #c5c2c2; }
