@charset "UTF-8";
@media only screen and (min-width: 1128px) {
  .width-pc-placement {
    display: table; } }
@media only screen and (min-width: 1128px) {
  .width-pc-placement .width-pc-table-cell {
    display: table-cell;
    width: 100%; } }

.header-label-zone {
  background: transparent;
  position: absolute;
  z-index: 51;
  width: 100vw; }
  .header-label-zone #accordion-menu {
    display: none; }
  .header-label-zone .accordion-contents-zone {
    display: none;
    background: #ffffff;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    padding-top: 64px; }
    .header-label-zone .accordion-contents-zone .accordion-content {
      height: 100%;
      overflow-y: scroll !important; }
  .header-label-zone .header-label {
    background: transparent;
    border: none;
    display: flex;
    cursor: pointer;
    position: relative;
    width: 100px;
    padding: 12px 24px;
    z-index: 50; }
    @media only screen and (min-width: 1128px) {
      .header-label-zone .header-label {
        display: none; } }
    .header-label-zone .header-label .header-label-size {
      transition: .3s;
      width: 36px;
      height: 40px;
      margin-right: 8px; }
    .header-label-zone .header-label img {
      transition: .3s;
      width: 100%;
      height: 100%; }
    .header-label-zone .header-label .header-arrow {
      width: 8px;
      height: 8px;
      border: 1.8px solid;
      border-color: transparent #ffffff #ffffff transparent;
      transform: rotate(45deg);
      transition: .5s;
      margin: auto; }
      @media only screen and (min-width: 1128px) {
        .header-label-zone .header-label .header-arrow {
          display: none; } }

.max-width-link {
  display: none; }
  @media only screen and (min-width: 1128px) {
    .max-width-link {
      background: transparent;
      display: flex;
      cursor: pointer;
      position: absolute;
      padding: 12px 24px;
      z-index: 50; } }
  .max-width-link .header-link-size {
    filter: brightness(1) invert(0);
    width: 36px;
    height: 40px;
    margin-right: 8px; }
  .max-width-link img {
    transition: .3s;
    width: 100%;
    height: 100%; }

.header-width-pc-menu {
  display: none; }
  @media only screen and (min-width: 1128px) {
    .header-width-pc-menu {
      display: table-cell;
      vertical-align: middle; } }
  .header-width-pc-menu .width-pc-menu-ul {
    list-style: none;
    margin-left: auto;
    padding: 0; }
    @media only screen and (min-width: 1128px) {
      .header-width-pc-menu .width-pc-menu-ul {
        display: table; } }
  @media only screen and (min-width: 1128px) {
    .header-width-pc-menu .width-pc-menu-li {
      display: table-cell;
      vertical-align: middle; } }
  .header-width-pc-menu .width-pc-button {
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: #ffffff;
    white-space: nowrap;
    height: 80px;
    margin-right: 15px; }
    .header-width-pc-menu .width-pc-button:hover {
      border-bottom: 2px solid #ffffff; }
    .header-width-pc-menu .width-pc-button:focus {
      outline: none; }
    .header-width-pc-menu .width-pc-button span {
      display: inline-block;
      position: relative;
      width: 18px;
      height: 18px;
      top: 0.3em; }
      .header-width-pc-menu .width-pc-button span img {
        width: 100%;
        height: 100%; }

.header-ul {
  list-style: none;
  padding: 28px 24px 24px; }
  .header-ul .header-a-zone {
    line-height: 22px; }
    .header-ul .header-a-zone .header-a {
      color: #484848;
      display: block;
      text-decoration: none;
      padding: 12px 0; }
      .header-ul .header-a-zone .header-a:active {
        color: #5bcef1; }
  .header-ul .header-a-zone-flex {
    display: flex; }
    .header-ul .header-a-zone-flex .house {
      width: 44px;
      margin-left: auto; }
      .header-ul .header-a-zone-flex .house img {
        width: 100%;
        height: 100%; }
  .header-ul .header-button {
    background: #ffffff;
    border: none;
    color: #484848;
    display: flex;
    font-size: 16px;
    text-align: left;
    width: 100%;
    padding: 12px 0; }
    .header-ul .header-button:active {
      color: #5bcef1; }
    .header-ul .header-button .glove {
      width: 36px;
      height: 36px;
      padding: 4px 0;
      margin-left: auto; }
      .header-ul .header-button .glove img {
        width: 100%;
        height: 100%; }
  .header-ul .sub-text {
    font-size: 14px;
    color: #484848;
    text-decoration: none; }
  .header-ul .header-hr {
    border-color: rgba(250, 245, 245, 0.911);
    margin: 16px 0; }

.language-select {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000; }

.language-select-zone {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  height: 100%;
  overflow-y: scroll;
  padding-top: 40px; }
  @media (min-width: 744px) {
    .language-select-zone {
      padding: 40px; } }

.language-out {
  position: absolute;
  inset: 0; }

.language-select-bg {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%; }
  @media (min-width: 744px) {
    .language-select-bg {
      overflow: auto; } }

.language-cancel-icon-zone {
  padding: 0 24px;
  padding-bottom: 10px; }

.language-line {
  border-color: #ebebeb; }

.language-cancel-icon {
  font-size: 36px;
  cursor: pointer; }

.language-scroll-zone {
  overflow-y: scroll !important;
  height: 100%;
  padding-bottom: 60px; }

.language-select-title {
  font-size: 24px;
  padding: 0 24px;
  margin-top: 24px;
  margin-bottom: 10px; }

.language-buttons-zone {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: -8px;
  padding: 24px; }

.language-change {
  color: #464444;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 9px 12px; }
  .language-change:active {
    border-radius: 5px;
    box-shadow: 0 0 0 2px #918d8d; }
  .language-change:hover {
    background: rgba(165, 161, 161, 0.1); }

.language-button {
  display: inline-block;
  flex-basis: 50%;
  padding: 8px; }
  @media (min-width: 744px) {
    .language-button {
      flex-basis: 33.333%; } }
  @media (min-width: 900px) {
    .language-button {
      flex-basis: 25%; } }
  @media (min-width: 1128px) {
    .language-button {
      flex-basis: 20%; } }

.language-area {
  color: #c5c2c2; }

.currency-select {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000; }

.currency-select-zone {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  height: 100%;
  overflow-y: scroll;
  padding-top: 40px; }
  @media (min-width: 744px) {
    .currency-select-zone {
      padding: 40px; } }

.currency-out {
  position: absolute;
  inset: 0; }

.currency-select-bg {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%; }
  @media (min-width: 744px) {
    .currency-select-bg {
      overflow: auto; } }

.currency-cancel-icon-zone {
  padding: 0 24px;
  padding-bottom: 10px; }

.currency-line {
  border-color: #ebebeb; }

.currency-cancel-icon {
  font-size: 36px;
  cursor: pointer; }

.currency-scroll-zone {
  overflow-y: scroll !important;
  height: 100%;
  padding-bottom: 60px; }

.currency-select-title {
  font-size: 24px;
  padding: 0 24px;
  margin-top: 24px;
  margin-bottom: 10px; }

.currency-buttons-zone {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: -8px;
  padding: 24px; }

.currency-change {
  color: #464444;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 9px 12px; }
  .currency-change:active {
    border-radius: 5px;
    box-shadow: 0 0 0 2px #918d8d; }
  .currency-change:hover {
    background: rgba(165, 161, 161, 0.1); }

.currency-button {
  display: inline-block;
  flex-basis: 50%;
  padding: 8px; }
  @media (min-width: 744px) {
    .currency-button {
      flex-basis: 33.333%; } }
  @media (min-width: 900px) {
    .currency-button {
      flex-basis: 25%; } }
  @media (min-width: 1128px) {
    .currency-button {
      flex-basis: 20%; } }

.currency-area {
  color: #c5c2c2; }

* {
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: "Circular", "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", "sans-serif"; }

input {
  outline: none; }

.business-prg a:hover {
  text-decoration: underline; }
.business-prg button:focus {
  outline: 0; }
.business-prg .body1 {
  color: #ffffff;
  margin-bottom: 271px; }
  @media only screen and (min-width: 744px) {
    .business-prg .body1 {
      margin-bottom: 101px; } }
  .business-prg .body1 a {
    color: #ffffff;
    display: inline-flex;
    text-decoration: none; }
.business-prg .body1-link-video-button {
  color: #ffffff;
  display: inline;
  cursor: pointer; }
  .business-prg .body1-link-video-button:hover {
    text-decoration: underline; }
  .business-prg .body1-link-video-button .right-triangle {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ffffff;
    display: inline-flex;
    height: 14px;
    margin: 4px 0 0 12px; }
.business-prg .body1-bg {
  height: 540px;
  position: relative; }
  @media only screen and (min-width: 744px) {
    .business-prg .body1-bg {
      height: 636px; } }
  @media only screen and (min-width: 1128px) {
    .business-prg .body1-bg {
      height: 860px; } }
.business-prg .body1-bg-img {
  width: 100%;
  height: 100%;
  position: relative; }
  @media only screen and (max-width: 743px) {
    .business-prg .body1-bg-img {
      background: url(../img/business-prg-header.png);
      background-size: cover; } }
@media only screen and (max-width: 743px) {
  .business-prg #body1-bg-video {
    display: none; } }
@media only screen and (min-width: 744px) {
  .business-prg #body1-bg-video {
    background: url(../img/business-prg-header.png);
    object-fit: cover;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -2; } }
.business-prg .body1-bg-cover {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: -1; }
.business-prg .body1-text-zone {
  position: absolute;
  bottom: 40px;
  left: 40px; }
  .business-prg .body1-text-zone h1 {
    font-size: 32px;
    padding-bottom: 20px;
    margin-right: 60px; }
  @media only screen and (min-width: 744px) {
    .business-prg .body1-text-zone {
      font-weight: 550;
      top: 160px;
      left: 70px; }
      .business-prg .body1-text-zone h1 {
        font-size: 46px;
        line-height: 1.15em;
        width: 550px; } }
  @media only screen and (min-width: 1128px) {
    .business-prg .body1-text-zone {
      top: 280px;
      left: 180px; } }
@media only screen and (min-width: 744px) {
  .business-prg .body1-tablet-position {
    position: absolute;
    top: 340px; } }
@media only screen and (min-width: 1128px) {
  .business-prg .body1-tablet-position {
    top: 460px; } }
.business-prg .top-form {
  font-weight: 600;
  margin-top: 30px;
  margin-left: 40px; }
  @media only screen and (min-width: 744px) {
    .business-prg .top-form {
      margin-top: 0;
      margin-left: 70px; } }
  @media only screen and (min-width: 1128px) {
    .business-prg .top-form {
      margin-left: 180px; } }
.business-prg .top-email-label {
  cursor: pointer;
  display: block;
  margin-bottom: 10px; }
  @media only screen and (max-width: 743px) {
    .business-prg .top-email-label {
      color: #292727; } }
.business-prg .top-input-zone {
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  width: 390px;
  padding: 10px 0 10px 8px; }
  .business-prg .top-input-zone:focus-within {
    box-shadow: 0 0 0 2px #008489; }
  @media only screen and (min-width: 744px) {
    .business-prg .top-input-zone {
      background-color: #ffffff;
      border: none; } }
.business-prg #top-mail-address {
  border: none;
  font-size: 18px;
  width: 200px;
  padding-right: 10px; }
  .business-prg #top-mail-address:focus {
    outline: none; }
.business-prg .top-input-button {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  padding: 8px 12px; }
  .business-prg .top-input-button:active {
    outline: 1px solid #000000;
    outline-offset: 3px;
    transition: 0.1s !important; }
.business-prg #top-mail-address:placeholder-shown + .top-input-button {
  /*入力されてないとき*/
  background: rgba(0, 132, 137, 0.3);
  transition: 0.3s; }
.business-prg #top-mail-address:not(:placeholder-shown) + .top-input-button {
  /*入力されたとき*/
  background: #008489;
  cursor: pointer;
  transition: 0.3s; }
.business-prg .business-trip-management {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 40px; }
  @media only screen and (max-width: 743px) {
    .business-prg .business-trip-management {
      color: #484848; } }
  @media only screen and (min-width: 744px) {
    .business-prg .business-trip-management {
      margin-top: 20px;
      margin-left: 70px; } }
  @media only screen and (min-width: 1128px) {
    .business-prg .business-trip-management {
      margin-left: 180px; } }
  .business-prg .business-trip-management a {
    color: #ffffff;
    display: inline-flex;
    text-decoration: none; }
    @media only screen and (max-width: 743px) {
      .business-prg .business-trip-management a {
        color: #008489; } }
  @media only screen and (min-width: 744px) {
    .business-prg .business-trip-management p {
      display: inline; } }
  .business-prg .business-trip-management .arrow {
    border-color: #008489 #008489 transparent transparent !important;
    width: 8px;
    height: 8px;
    border: 1.8px solid;
    transform: rotate(45deg);
    margin: 8px; }
    @media only screen and (min-width: 744px) {
      .business-prg .business-trip-management .arrow {
        border-color: #ffffff #ffffff transparent transparent !important; } }
.business-prg .video-button-zone {
  position: absolute;
  right: 30px;
  bottom: 20px;
  transition: 0.2s; }
  .business-prg .video-button-zone:focus-within {
    border-radius: 3px;
    box-shadow: 0 0 0 6px #bbb5b5; }
  @media only screen and (max-width: 743px) {
    .business-prg .video-button-zone {
      display: none; } }
.business-prg #video-button {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 16px !important;
  transition: 0.2s;
  padding: 10px 22px; }
  .business-prg #video-button:focus {
    box-shadow: 0 0 0 5px #000000; }
.business-prg .video-icon {
  margin-left: 10px; }
@media only screen and (max-width: 743px) {
  .business-prg .separate-border {
    border-bottom: 1px solid #EBEBEB;
    margin: 0 20px; } }

.business-prg-main .body2 {
  text-align: center;
  overflow: auto !important; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body2 {
      margin-bottom: 100px; } }
  .business-prg-main .body2 h2 {
    color: #484848;
    font-size: 24px;
    font-weight: 200; }
    @media only screen and (min-width: 744px) {
      .business-prg-main .body2 h2 {
        font-size: 32px; } }
@media only screen and (min-width: 744px) {
  .business-prg-main .body2-art-zone {
    margin: 0 70px; } }
.business-prg-main .body2-art {
  color: #484848;
  text-align: center;
  margin-bottom: 30px; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body2-art {
      float: left;
      width: 33.33%;
      margin: 0; } }
  .business-prg-main .body2-art article {
    height: 380px;
    margin: 20px; }
    @media only screen and (min-width: 744px) {
      .business-prg-main .body2-art article {
        margin: 20px 10px;
        height: 333.33px; } }
  .business-prg-main .body2-art img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .business-prg-main .body2-art p {
    font-size: 18px;
    font-weight: 200; }
    @media only screen and (min-width: 744px) {
      .business-prg-main .body2-art p {
        margin: 0 15px; } }
.business-prg-main .body3 {
  clear: both; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body3 section {
      margin-bottom: 50px; } }
@media only screen and (min-width: 744px) {
  .business-prg-main .body3-tablet-margin {
    overflow: auto !important;
    margin: 15px; } }
@media only screen and (min-width: 744px) {
  .business-prg-main .body3-tablet-float {
    width: 58.3333%;
    height: 500px; } }
@media only screen and (min-width: 744px) {
  .business-prg-main .float-white {
    float: right;
    padding-left: 7.5px; } }
@media only screen and (min-width: 744px) {
  .business-prg-main .float-green {
    float: left;
    padding-right: 7.5px; } }
.business-prg-main .body3-back-white-text-zone {
  background-color: #ffffff;
  color: #484848;
  padding: 40px 70px 50px 70px; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body3-back-white-text-zone {
      background-color: #ebebeb;
      display: table-cell;
      vertical-align: middle;
      margin-right: 15px;
      height: 500px;
      padding: 0; } }
  .business-prg-main .body3-back-white-text-zone h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px; }
    @media only screen and (min-width: 744px) {
      .business-prg-main .body3-back-white-text-zone h3 {
        font-size: 32px; } }
  .business-prg-main .body3-back-white-text-zone p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px; }
  .business-prg-main .body3-back-white-text-zone a {
    color: #008489;
    display: inline-flex;
    text-decoration: none; }
    .business-prg-main .body3-back-white-text-zone a .arrow {
      border-color: #008489 #008489 transparent transparent !important;
      width: 8px;
      height: 8px;
      border: 1.8px solid;
      transform: rotate(45deg);
      margin: 8px; }
@media only screen and (min-width: 744px) {
  .business-prg-main .body3-text-tablet {
    margin: 0 12%; } }
.business-prg-main .body3-art-zone {
  height: 380px; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body3-art-zone {
      height: 500px;
      width: 41.6667%; } }
@media only screen and (min-width: 744px) {
  .business-prg-main .art-left {
    float: left;
    padding-right: 7.5px; } }
@media only screen and (min-width: 744px) {
  .business-prg-main .art-right {
    float: right;
    padding-left: 7.5px; } }
.business-prg-main .body3-art {
  height: 100%;
  padding: 15px;
  padding-top: 0; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body3-art {
      padding: 0; } }
  .business-prg-main .body3-art img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
@media only screen and (min-width: 744px) {
  .business-prg-main .back-white-after {
    height: 100%; } }
@media only screen and (min-width: 744px) {
  .business-prg-main .back-green-after {
    height: 100%; } }
.business-prg-main .body3-back-green-text-zone {
  background-color: #006c70;
  color: #ffffff;
  padding: 40px 70px 50px 70px; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body3-back-green-text-zone {
      background-color: #006c70;
      display: table-cell;
      vertical-align: middle;
      margin-right: 15px;
      height: 500px;
      padding: 0; } }
  .business-prg-main .body3-back-green-text-zone h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px; }
  .business-prg-main .body3-back-green-text-zone p {
    font-weight: 300;
    margin-bottom: 20px; }
  .business-prg-main .body3-back-green-text-zone a {
    color: #ffffff;
    display: inline-flex;
    text-decoration: none; }
    .business-prg-main .body3-back-green-text-zone a .arrow {
      border-color: #ffffff #ffffff transparent transparent !important;
      width: 8px;
      height: 8px;
      border: 1.8px solid;
      transform: rotate(45deg);
      margin: 8px; }
.business-prg-main .body4-back-green {
  background: #006c70;
  color: #ffffff;
  padding: 0 24px; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body4-back-green {
      margin-bottom: 96px; } }
  .business-prg-main .body4-back-green a {
    color: #ffffff;
    display: inline-flex;
    text-decoration: none; }
    .business-prg-main .body4-back-green a .arrow {
      border-color: #ffffff #ffffff transparent transparent !important;
      width: 8px;
      height: 8px;
      border: 1.8px solid;
      transform: rotate(45deg);
      margin: 8px; }
@media only screen and (min-width: 744px) {
  .business-prg-main .back-green-tablet {
    max-width: 636px;
    margin: auto; } }
  @media only screen and (min-width: 744px) and (min-width: 1128px) {
    .business-prg-main .back-green-tablet {
      max-width: 1080px;
      display: flex; } }

.business-prg-main .body4-back-green-text {
  padding: 64px 0;
  max-width: 70%;
  margin: 0 auto; }
  @media only screen and (min-width: 1128px) {
    .business-prg-main .body4-back-green-text {
      width: 50%; } }
  @media only screen and (min-width: 1128px) {
    .business-prg-main .body4-back-green-text .size-pc {
      max-width: 70%;
      margin: 0 auto; } }
  .business-prg-main .body4-back-green-text h3 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 16px; }
    @media only screen and (min-width: 744px) {
      .business-prg-main .body4-back-green-text h3 {
        font-size: 32px; } }
  .business-prg-main .body4-back-green-text p {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 16px; }
    @media only screen and (min-width: 744px) {
      .business-prg-main .body4-back-green-text p {
        font-size: 18px; } }
.business-prg-main .body4-separate-border {
  border: 0.6px solid #ffffff; }
  @media only screen and (min-width: 1128px) {
    .business-prg-main .body4-separate-border {
      border: none; } }
.business-prg-main .body4-art-zone {
  margin-bottom: 15px; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body4-art-zone {
      width: 80%;
      margin: auto; } }
  .business-prg-main .body4-art-zone article {
    height: 380px;
    padding: 15px; }
    @media only screen and (min-width: 744px) {
      .business-prg-main .body4-art-zone article {
        float: left;
        padding: 0;
        padding-right: 15px;
        height: 500px;
        width: 50%; } }
  .business-prg-main .body4-art-zone img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
.business-prg-main .body4-back-gray {
  background: #ebebeb;
  color: #484848; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body4-back-gray {
      float: right;
      width: 50%; } }
  .business-prg-main .body4-back-gray .body4-back-gray-text {
    max-width: 60%;
    padding: 64px 0;
    margin: auto; }
    @media only screen and (min-width: 744px) {
      .business-prg-main .body4-back-gray .body4-back-gray-text {
        display: table-cell;
        vertical-align: middle;
        height: 500px; } }
    @media only screen and (min-width: 744px) {
      .business-prg-main .body4-back-gray .body4-back-gray-text .back-gray-text-tablet {
        width: 60%;
        margin: auto; } }
    .business-prg-main .body4-back-gray .body4-back-gray-text p {
      font-size: 14px;
      margin-bottom: 16px; }
      @media only screen and (min-width: 744px) {
        .business-prg-main .body4-back-gray .body4-back-gray-text p {
          font-size: 18px; } }
      @media only screen and (min-width: 1128px) {
        .business-prg-main .body4-back-gray .body4-back-gray-text p {
          font-size: 20px;
          line-height: 2; } }
    .business-prg-main .body4-back-gray .body4-back-gray-text .name {
      font-size: 16px;
      font-weight: 550;
      margin-bottom: 0; }
    .business-prg-main .body4-back-gray .body4-back-gray-text .position {
      font-size: 16px; }
@media only screen and (min-width: 744px) {
  .business-prg-main .body4-bottom-zone-tablet {
    clear: both; } }
.business-prg-main .body4-bottom-zone {
  background: #ebebeb;
  color: #484848;
  padding: 32px 24px; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body4-bottom-zone {
      margin-top: 96px; } }
  .business-prg-main .body4-bottom-zone h3 {
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 30px; }
    @media only screen and (min-width: 744px) {
      .business-prg-main .body4-bottom-zone h3 {
        font-size: 32px; } }
  .business-prg-main .body4-bottom-zone label {
    cursor: pointer;
    display: block;
    font-weight: 550;
    padding-bottom: 10px; }
  .business-prg-main .body4-bottom-zone .body4-form-zone {
    max-width: 450px;
    margin: auto;
    margin-bottom: 30px; }
    .business-prg-main .body4-bottom-zone .body4-form-zone .body4-input-zone {
      background: #ffffff;
      border-radius: 5px;
      width: 418px; }
      @media only screen and (min-width: 744px) {
        .business-prg-main .body4-bottom-zone .body4-form-zone .body4-input-zone {
          width: 450px; } }
      .business-prg-main .body4-bottom-zone .body4-form-zone .body4-input-zone:focus-within {
        box-shadow: 0 0 0 2px #008489; }
      .business-prg-main .body4-bottom-zone .body4-form-zone .body4-input-zone input {
        border: none;
        border-radius: 5px;
        font-size: 18px;
        padding: 15px; }
        @media only screen and (min-width: 744px) {
          .business-prg-main .body4-bottom-zone .body4-form-zone .body4-input-zone input {
            width: 265px; } }
      .business-prg-main .body4-bottom-zone .body4-form-zone .body4-input-zone .body4-form-button {
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-size: 16px;
        padding: 10px 5px; }
.business-prg-main #body4-mail-address:placeholder-shown + .body4-form-button {
  /*入力されてないとき*/
  background: rgba(0, 132, 137, 0.3);
  transition: 0.3s; }
.business-prg-main #body4-mail-address:not(:placeholder-shown) + .body4-form-button {
  /*入力されたとき*/
  background: #008489;
  cursor: pointer;
  transition: 0.3s; }
.business-prg-main .body4-form-under-text {
  text-align: center;
  padding: 24px 0; }
  .business-prg-main .body4-form-under-text p {
    color: #484848;
    font-weight: 550;
    margin-bottom: 10px; }
  .business-prg-main .body4-form-under-text .merit {
    font-weight: 200; }
  .business-prg-main .body4-form-under-text a {
    color: #008489;
    display: inline-flex;
    text-decoration: none;
    font-size: 14px; }
    .business-prg-main .body4-form-under-text a .arrow {
      border-color: #008489 #008489 transparent transparent !important;
      width: 8px;
      height: 8px;
      border: 1.8px solid;
      transform: rotate(45deg);
      margin: 8px;
      margin-top: 5px; }
.business-prg-main .body4-border-margin {
  border: 0.6px solid #aca8a8;
  width: 85%;
  margin: auto; }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body4-border-margin {
      border: none;
      max-width: 450px; } }
  @media only screen and (min-width: 744px) {
    .business-prg-main .body4-border-margin .body4-bottom-zone-berder {
      border: 0.6px solid #aca8a8;
      width: 450px; } }

.body1-link-video {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99; }

.link-video-out {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.body1-link-video-zone {
  background: #ffffff;
  padding: 40px 30px;
  position: fixed;
  top: 80px;
  margin: 0 10%;
  z-index: 1000; }

.cancel-icon {
  color: #a09d9d;
  cursor: pointer;
  font-size: 32px;
  margin-bottom: 10px; }

.link-video {
  width: 100%; }

footer {
  background: #F7F7F7;
  border-top: 1px solid #DDDDDD;
  padding: 25px 25px 20px 25px; }
  @media only screen and (min-width: 1128px) {
    footer {
      padding: 50px 80px; } }
  footer .footer-ul-title {
    color: #444444;
    font-size: 12px; }
    @media only screen and (min-width: 744px) {
      footer .footer-ul-title {
        padding-left: 12px; } }
    @media only screen and (min-width: 1128px) {
      footer .footer-ul-title {
        padding: 0; } }
  @media only screen and (min-width: 1128px) {
    footer .width-pc-footer {
      display: flex;
      border-bottom: 1px solid #dddddd;
      margin-bottom: 20px; } }
  @media only screen and (min-width: 1128px) {
    footer .width-pc-footer .width-pc-container {
      width: 25%; } }
  footer .footer-ul {
    border-bottom: 1px solid #DDDDDD;
    list-style: none;
    padding: 0;
    padding-bottom: 24px;
    margin-bottom: 24px; }
    @media only screen and (min-width: 744px) {
      footer .footer-ul {
        display: flex;
        flex-wrap: wrap; } }
    @media only screen and (min-width: 1128px) {
      footer .footer-ul {
        border: none;
        display: block; } }
  footer .footer-li {
    margin-top: 12px; }
    @media only screen and (min-width: 744px) {
      footer .footer-li {
        flex-basis: 33.3333333333%;
        padding: 0 12px; } }
    @media only screen and (min-width: 1128px) {
      footer .footer-li {
        padding: 0;
        margin-top: 16px; } }
  footer .footer-a {
    color: #222222;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    line-height: 18px; }
    footer .footer-a:hover {
      color: #555454; }

@media only screen and (min-width: 1128px) {
  .footer-bottom-width-pc {
    align-items: stretch;
    display: flex;
    flex-direction: row-reverse; }
    .footer-bottom-width-pc .left {
      margin-right: auto; } }

@media only screen and (min-width: 744px) {
  .footer-bottom {
    text-align: center; } }
@media only screen and (min-width: 1128px) {
  .footer-bottom {
    text-align: left; } }
.footer-bottom .language-currency {
  margin-bottom: 15px; }
  .footer-bottom .language-currency a {
    color: #444444;
    display: inline-block;
    font-size: 14px;
    font-weight: 550;
    text-decoration: underline !important;
    margin-right: 10px; }
    .footer-bottom .language-currency a:hover {
      color: #706f6f; }
  .footer-bottom .language-currency span {
    display: none; }
    @media only screen and (min-width: 744px) {
      .footer-bottom .language-currency span {
        display: inline-block;
        margin-left: 40px; } }
    .footer-bottom .language-currency span a {
      color: #222222;
      margin: 0; }
    .footer-bottom .language-currency span svg {
      display: none; }
      @media only screen and (min-width: 744px) {
        .footer-bottom .language-currency span svg {
          display: inline-block;
          fill: currentColor;
          width: 18px;
          height: 18px;
          margin-right: 24px; } }
.footer-bottom .developer a {
  color: #222222;
  font-size: 14px;
  line-height: 18px; }
  @media only screen and (min-width: 1128px) {
    .footer-bottom .developer a {
      display: block;
      width: 100%; } }
@media only screen and (min-width: 1128px) {
  .footer-bottom .developer span {
    display: block;
    width: 100%; } }
@media only screen and (min-width: 1128px) {
  .footer-bottom .footer-bottom-pc-copyright-detailes {
    overflow: hidden; } }
@media only screen and (min-width: 1128px) {
  .footer-bottom .copyright {
    display: inline-block; } }
.footer-bottom .copyright p {
  color: #222222;
  font-size: 14px;
  line-height: 18px; }
@media only screen and (min-width: 1128px) {
  .footer-bottom .details {
    display: inline; } }
.footer-bottom .details a {
  color: #222222;
  display: inline-block;
  font-size: 14px; }
.footer-bottom .details span {
  color: #222222;
  display: inline-block; }
